

.container6 span {
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 15.931px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.711px */
    letter-spacing: 0.159px;

}