.result-card {
  width: 80%;
  padding: 1.5rem;

  background: rgba(238, 230, 242, 0); /* Напівпрозорий білий */
}

.section-3-title {
    text-align: center;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 117%; /* 34.71px */
    letter-spacing: 0.39px;

    background: radial-gradient(50% 50% at 50% 50%, #9071AF 0%, #EB81C1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.result-card:hover {
  transform: translateY(-4px);
}

.result-icon img {
  width: 25px;
  height: 26px;
}

.result-text h5 {
    color: #9072AF;
    text-align: center;
    font-family: Gilroy;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 100% */
}

.result-text p {
  color: #4F4C52;
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */font-size: 15px;
  max-width: 80%;
}

@media (max-width: 768px) {
  .result-card {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .result-icon {
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {

.section-3-title {
  font-size: 48px;
  }

  .result-card {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    text-align: center;
  }

  .result-text h5 {
    font-size: 36px;
    margin-bottom: 1rem !important;
    width: 120%;
  }

  .result-text p {
    font-size: 24px;
    line-height: 24px; /* 114.286% */
  }
}
