/* Заголовок */
.title-gradient {

    background: -webkit-linear-gradient(270deg, #C384E5 0%, #B678DB 23.23%, #733CAA 56.56%, #C979B7 76.35%, #DC87BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-family: Gilroy;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 91.944%; /* 50.569px */
    letter-spacing: -2.2px;
}

/* Малий підзаголовок */
.small-subtitle {
    color: #9072AF;
    text-align: center;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 0.14px;
    width: 60%;
}

/* Великий акцентний текст */
.highlight-text {
    background: radial-gradient(50% 50% at 50% 50%, #9071AF 0%, #EB81C1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-family: Gilroy;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 103%; /* 25.75px */
    letter-spacing: 0.25px;
}

/* Сірий текст */
.description-text {
    color: #4A4A4A;
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    width: 60%;
}

/* Кнопка */
.cta-button-1 {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  border-radius: 7.13px;
  background: linear-gradient(90deg, #9072AF 0%, #FAA1D8 99.99%);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.cta-button:hover {
  opacity: 0.9;
}

/* Текст під кнопкою */
.start-date {
    color: #37333B;
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.14px;
}

/* Центрування перемикача мови */
<style>
.language-switcher {
  background: linear-gradient(to bottom, #faf3fb, #fcdffc);
  color: #8a6c9e;
  font-weight: 500;
}

.lang-link {
  color: #8a6c9e;
  transition: color 0.2s;
}

.lang-link:hover,
.lang-link.active {
  color: #5e4781;
  font-weight: 600;
}

.divider {
  color: #b79dce;
}
</style>

