body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4 {
  color: var(--heading-color);
}

footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
}

.btn-accent {
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-accent:hover {
  background-color: #d97c8f; /* темніший рожевий */
}


main {
    padding: 2rem;
}

.intro {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}
