<section id="section5" style="--bs-gutter-x: 0;">
    <div class="container">
        <div class="container6 row d-flex rounded-4 justify-content-center text-center" style="background: linear-gradient(15deg, #C4BAE9 -1.21%, #C6A1CE 80.22%);">
      <span class="title_sp6 mt-3 mb-3" style="font-size: 25px;">{{texts.section6.title}}</span>
      <span class="sub_title_sp6 mt-1 mb-2">{{texts.section6.sub_title}}</span>
      <div class="text-center">
          <img src="static/images/Group.svg" alt="..." class="img-fluid">
      </div>
      <span class="under_txt_sp6 mb-5">{{texts.section6.under_txt}}</span>

  </div>

    </div>

</section>
