<section id="section1" class="hero-section" >
  <div class="container py-0 position-relative">
  <!-- Перемикач мови + лінія -->
  <div class="d-flex flex-column align-items-center">
    <div class="language-switcher d-inline-flex align-items-center px-3 py-1 mb-2 rounded-pill shadow-sm">
      <a href="{{ url_for('home', lang='ua') }}" class="text-decoration-none px-2 lang-link active">UA</a>
      <span class="divider mx-1">|</span>
      <a href="{{ url_for('home', lang='ru') }}" class="text-decoration-none px-2 lang-link">RU</a>
    </div>
    <hr class="mb-2 mt-2" style="width: 100%; border-top: 3px #B098C8 dashed;">
  </div>

  <!-- Заголовки окремо зверху -->
  <div class="text-center mb-4 px-3">
    <h1 class="main-title title-gradient mb-3">
      {{ texts.section1.title }}
    </h1>
    <p class="small-subtitle mx-auto">
      {{ texts.section1.sub_title }}
    </p>
  </div>

  <!-- Контент: лівий текст і праве фото -->
  <div class="row align-items-center text-center ">
    <!-- Лівий блок -->
    <div class="col-lg-6 d-flex flex-column align-items-center align-items-lg-start text-lg-start">
      <p class="highlight-text mb-4">
        {{ texts.section1.left.upbtntxt }}
      </p>
      <p class="description-text mb-4">
        {{ texts.section1.left.two }}
      </p>
      <div class="d-flex justify-content-center justify-content-lg-start mb-3 w-100">
        <a href="#section4" class="cta-button-1">
          {{ texts.section1.left.btn }}
        </a>
      </div>
      <p class="start-date">
        {{ texts.section1.left.underbtntxt }}
      </p>
    </div>

    <!-- Правий блок -->
    <div class="col-lg-6 d-flex justify-content-center mt-4 mt-lg-0">
      <div class="image-wrapper">
        <img src="static/images/author_1.jpg" alt="Speaker" class="img-fluid speaker-photo floating-animation">
      </div>
    </div>
  </div>
</div>




  </div>
</section>